button{
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color:yellowgreen  ;
    transition: duration 4s;
    border: #000 outset;

}
button:hover{
    background-color: deeppink;
     color: white;
}