body{
    
}
button{
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color:yellowgreen  ;
    transition: duration 4s;
    border: #000 outset;

}
button:hover{
    background-color: deeppink;
    color: white;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container{
    height: 33%;
    width: 50%;
}